
.App{margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #e3f0ff8b, #fafcff73);
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;}
  .AP{margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #e3f0ff8b, #fafcff73);
    
    
    justify-content: center;
    align-items: center;}